---
import { getCollection } from "astro:content";
import { getRelativeLocaleUrl } from "astro:i18n";
import type { GetStaticPaths } from "astro";
import { Icon } from "astro-icon/components";
import Card from "@/components/Card.astro";
import Footer from "@/components/Footer.astro";
import Header from "@/components/Header.astro";
import Hr from "@/components/Hr.astro";
import LinkButton from "@/components/LinkButton.astro";
import Socials from "@/components/Socials.astro";
import { SITE } from "@/config";
import { SOCIALS } from "@/constants";
import { useTranslations } from "@/i18n/utils";
import Layout from "@/layouts/Layout.astro";
import getSortedPosts from "@/utils/getSortedPosts";

export const getStaticPaths = (async () => {
  return Object.keys(SITE.locales).map((lang) => ({
    params: { locale: lang as keyof typeof SITE.locales },
  }));
}) satisfies GetStaticPaths;

const { locale } = Astro.params;

const localeString = useTranslations(locale);

const posts = await getCollection("blog", ({ data }) => data.locale === locale);

const sortedPosts = getSortedPosts(posts);
const featuredPosts = sortedPosts.filter(({ data }) => data.featured);
const recentPosts = sortedPosts.filter(({ data }) => !data.featured);

const backUrl = getRelativeLocaleUrl(locale, "/");
---

<Layout>
  <Header />
  <main id="main-content" data-backUrl={backUrl}>
    <section id="hero" class="pt-8 pb-6">
      <h1 class="my-4 inline-block text-2xl font-bold sm:my-6 sm:text-4xl">
        impl Blog for NanHuang;
      </h1>
      <a
        target="_blank"
        href={getRelativeLocaleUrl(locale, "/rss.xml")}
        class="inline-block"
        aria-label={localeString("rss.feed")}
        title={localeString("rss.feed")}
      >
        <Icon
          name="tabler:rss"
          class="size-6 sm:size-8 rtl:-rotate-90 text-accent"
        />
        <span class="sr-only">{localeString("rss.feed")}</span>
      </a>

      <p class="text-lg sm:text-2xl">
        {localeString("site.description")}
      </p>

      {
        // only display if at least one social link is enabled
        SOCIALS.length > 0 && (
          <div class="mt-4 flex flex-col sm:flex-row sm:items-center">
            <div class="me-2 mb-1 whitespace-nowrap sm:mb-0">
              {localeString("social.links")}:
            </div>
            <Socials />
          </div>
        )
      }
    </section>

    <Hr />

    {
      featuredPosts.length > 0 && (
        <>
          <section id="featured" class="pt-12 pb-6">
            <h2 class="text-2xl font-semibold tracking-wide">
              {localeString("posts.featured")}
            </h2>
            <ul>
              {featuredPosts.map((data) => (
                <Card variant="h3" {...data} />
              ))}
            </ul>
          </section>
          {recentPosts.length > 0 && <Hr />}
        </>
      )
    }

    {
      recentPosts.length > 0 && (
        <section id="recent-posts" class="pt-12 pb-6">
          <h2 class="text-2xl font-semibold tracking-wide">
            {localeString("posts.recent")}
          </h2>
          <ul>
            {recentPosts.map(
              (data, index) =>
                index < SITE.postPerIndex && <Card variant="h3" {...data} />
            )}
          </ul>
        </section>
      )
    }

    <div class="my-8 text-center">
      <LinkButton href={getRelativeLocaleUrl(locale, "/posts/")}>
        {localeString("posts.all")}
        <Icon name="tabler:arrow-right" class="inline-block rtl:-rotate-180" />
      </LinkButton>
    </div>
  </main>
  <Footer />
</Layout>

<script>
  document.addEventListener("astro:page-load", () => {
    const mainContent = document.querySelector("#main-content") as HTMLElement;
    const backUrl = mainContent?.dataset?.backUrl;
    if (backUrl) {
      sessionStorage.setItem("backUrl", backUrl);
    }
  });
</script>
