---
import { getRelativeLocaleUrl } from "astro:i18n";
import PageFindSearch from "astro-pagefind/components/Search";
import Footer from "@/components/Footer.astro";
import Header from "@/components/Header.astro";
import { SITE } from "@/config";
import { useTranslations } from "@/i18n/utils";
import Layout from "@/layouts/Layout.astro";
import Main from "@/layouts/Main.astro";

export const getStaticPaths = async () => {
  return Object.keys(SITE.locales).map((lang) => ({
    params: { locale: lang as keyof typeof SITE.locales },
  }));
};

const { locale } = Astro.params;
const localeString = useTranslations(locale);

const backUrl = SITE.showBackButton
  ? `${Astro.url.pathname}`
  : getRelativeLocaleUrl(locale, "/");
---

<Layout title={`${localeString("nav.search")} | ${localeString("site.title")}`}>
  <Header />
  <Main
    pageTitle={localeString("nav.search")}
    pageDesc={localeString("search.description")}
  >
    <div transition:persist data-backUrl={backUrl}>
      {
        import.meta.env.DEV && (
          <div class="p-4 mb-4 space-y-4 rounded bg-muted/75">
            <p>
              <strong>DEV mode Warning! </strong>You need to build the project
              at least once to see the search results during development.
            </p>
            <code class="block py-1 px-2 text-white bg-black rounded">
              bunx astro build
            </code>
          </div>
        )
      }
      <PageFindSearch
        id="pagefind-search"
        className="pagefind-ui"
        uiOptions={{ showImages: false }}
      />
    </div>
  </Main>
  <Footer />
</Layout>

<style is:global>
  #pagefind-search {
    --pagefind-ui-font: var(--font-mono);
    --pagefind-ui-text: var(--foreground);
    --pagefind-ui-background: var(--background);
    --pagefind-ui-border: var(--border);
    --pagefind-ui-primary: var(--accent);
    --pagefind-ui-tag: var(--background);
    --pagefind-ui-border-radius: 0.375rem;
    --pagefind-ui-border-width: 1px;
    --pagefind-ui-image-border-radius: 8px;
    --pagefind-ui-image-box-ratio: 3 / 2;

    form::before {
      background-color: var(--foreground);
    }

    input {
      font-weight: 400;
      border: 1px solid var(--border);
    }

    input:focus-visible {
      outline: 1px solid var(--accent);
    }

    .pagefind-ui__result-title a {
      color: var(--accent);
      outline-offset: 1px;
      outline-color: var(--accent);
    }

    .pagefind-ui__result-title a:focus-visible,
    .pagefind-ui__search-clear:focus-visible {
      text-decoration-line: none;
      outline-width: 2px;
      outline-style: dashed;
    }

    .pagefind-ui__result:last-of-type {
      border-bottom: 0;
    }

    .pagefind-ui__result-nested .pagefind-ui__result-link:before {
      font-family: system-ui;
    }
  }
</style>
