# Vuepress Cache
**/.vuepress/.cache/**
# Vuepress Temp
**/.vuepress/.temp/**
# Vuepress Output
dist/
# Lib files
**/.vuepress/public/assets/lib/

# Node modules
node_modules/

# pnpm lock file
pnpm-lock.yaml
