jinja2==3.0.3
pelican
closure
cssmin
ipython
jsmin
jupyter
libsass
matplotlib
nbconvert
pelican-jinja-filters
pelican-jinja2content
pelican-jupyter
pelican-minify
pelican-render-math
pelican-simple-footnotes
pelican-webassets
plotly
tinycss2
