---
import { getCollection } from "astro:content";
import type { GetStaticPaths } from "astro";
import Card from "@/components/Card.astro";
import Footer from "@/components/Footer.astro";
import Header from "@/components/Header.astro";
import Pagination from "@/components/Pagination.astro";
import { SITE } from "@/config";
import { useTranslations } from "@/i18n/utils";
import Layout from "@/layouts/Layout.astro";
import Main from "@/layouts/Main.astro";
import getSortedPosts from "@/utils/getSortedPosts";

export const getStaticPaths = (async ({ paginate }) => {
  const posts = await getCollection("blog", ({ data }) => !data.draft);
  const locales = Object.keys(SITE.locales);

  return locales.flatMap((locale) => {
    const localePosts = posts.filter(({ data }) => data.locale === locale);
    return paginate(getSortedPosts(localePosts), {
      pageSize: SITE.postPerPage,
      params: { locale: locale as keyof typeof SITE.locales },
    });
  });
}) satisfies GetStaticPaths;

const { page } = Astro.props;
const { locale } = Astro.params;

const localeString = useTranslations(locale);
---

<Layout title={`${localeString("nav.posts")} | ${localeString("site.title")}`}>
  <Header />
  <Main
    pageTitle={localeString("nav.posts")}
    pageDesc={localeString("posts.description")}
  >
    <ul>
      {page.data.map((data) => <Card {...data} />)}
    </ul>
  </Main>

  <Pagination {page} />

  <Footer noMarginTop={page.lastPage > 1} />
</Layout>
