@import "tailwindcss";
@import "./typography.css";

@custom-variant dark (&:where([data-theme="dark"], [data-theme="dark"] *));

:root,
html[data-theme="light"] {
  --background: #eaedf3;
  --foreground: #000123;
  --accent: #2346f7;
  --muted: #c5cbe9;
  --border: #1f318e;
}

html[data-theme="dark"] {
  --background: #000123;
  --foreground: #eaedf3;
  --accent: #617bff;
  --muted: #0c0e4f;
  --border: #303f8a;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent: var(--accent);
  --color-muted: var(--muted);
  --color-border: var(--border);
}

@layer base {
  * {
    @apply border-border outline-accent/75;
    scrollbar-width: auto;
    scrollbar-color: var(--color-muted) transparent;
  }
  html {
    @apply overflow-y-scroll scroll-smooth;
  }
  body {
    @apply flex flex-col font-mono min-h-svh bg-background text-foreground selection:bg-accent/75 selection:text-background;
  }
  a,
  button {
    @apply focus-visible:no-underline outline-offset-1 outline-accent focus-visible:outline-2 focus-visible:outline-dashed;
  }
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
  section,
  footer {
    @apply px-4 mx-auto max-w-app;
  }
}

@utility max-w-app {
  @apply max-w-3xl;
}

.active-nav {
  @apply underline decoration-wavy decoration-2 underline-offset-4;
}

/* Source: https://piccalil.li/blog/a-more-modern-css-reset/ */
/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 1rem;
}
