// you can change config here
$theme-color: #f38ba8;
$theme-colors: #f5e0dc, #f2cdcd, #f5c2e7, #cba6f7, #f38ba8, #eba0ac, #fab387,
  #f9e2af, #a6e3a1, #94e2d5, #89dceb, #74c7ec, #89b4fa, #b4befe;
$colors: #eb3b5a, #fa8231, #f7b731, #20bf6b, #0fb9b1, #2d98da, #3867d6, #8854d0,
  #a5b1c2, #4b6584;
$code-color: #abb2bf;
$code-bg-color: #282c34;
