// place your custom styles here
@tailwind base;
@tailwind components;
@tailwind utilities;

.vp-blog-hero {
  @apply text-gray-500 dark:text-white #{!important};
  h1 {
    // Amend font size for blog hero title
    @apply font-mono text-lg sm:text-3xl #{!important};
  }
}

.vp-project-image {
  @apply rounded-full;
}

@layer base {
  // Make iframe default to full width and responsive height
  iframe {
    @apply w-full max-h-screen h-80 lg:h-96 xl:h-[30rem] border-none;
  }
}

@layer utilities {
  .hide-scrollbar {
    &::-webkit-scrollbar {
      display: none; /* Chromium */
    }
    & {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
  }
}
