// you can change colors here
$theme-color: #f06796;
$bg-color: (
  light: #fafafa,
  dark: #141414,
);
$bg-color-secondary: (
  light: #ededed,
  dark: #1f1f1f,
);
$bg-color-tertiary: (
  light: #d0d0d0,
  dark: #262626,
);
// $border-color: 边框颜色
// $box-shadow: 元素阴影色
// $text-color: 字体颜色
// $card-shadow: 卡片阴影色
