---
import { getRelativeLocaleUrl } from "astro:i18n";
import { Icon } from "astro-icon/components";
import { SITE } from "@/config";
import { getLangFromUrl, useTranslations } from "@/i18n/utils";
import LinkButton from "./LinkButton.astro";

const locale = getLangFromUrl(Astro.url);
const localeString = useTranslations(locale);
---

{
  SITE.showBackButton && (
    <div class="flex justify-start items-center px-2 mx-auto w-full max-w-app">
      <LinkButton
        id="back-button"
        href={getRelativeLocaleUrl(locale, "/")}
        class="flex mt-8 mb-2 hover:text-foreground/75 focus-outline"
      >
        <Icon
          name="tabler:chevron-left"
          class="inline-block pb-1 size-6 rtl:rotate-180"
        />
        <span>{localeString("nav.go-back")}</span>
      </LinkButton>
    </div>
  )
}

<script>
  /* Update Search Praam */
  function updateGoBackUrl() {
    const backButton: HTMLAnchorElement | null =
      document.querySelector("#back-button");

    const backUrl = sessionStorage.getItem("backUrl");

    if (backUrl && backButton) {
      backButton.href = backUrl;
    }
  }

  document.addEventListener("astro:page-load", updateGoBackUrl);
  updateGoBackUrl();
</script>
