---
import type { CollectionEntry } from "astro:content";
import type { Page } from "astro";
import { Icon } from "astro-icon/components";
import { getLangFromUrl, useTranslations } from "@/i18n/utils";
import LinkButton from "./LinkButton.astro";

export interface Props {
  page: Page<CollectionEntry<"blog">>;
}

const { page } = Astro.props;
const locale = getLangFromUrl(Astro.url);
const localeString = useTranslations(locale);
---

{
  page.lastPage > 1 && (
    <nav class="flex justify-center mt-auto mb-8" aria-label="Pagination">
      <LinkButton
        disabled={!page.url.prev}
        href={page.url.prev as string}
        class:list={["me-4 select-none", { "opacity-50": !page.url.prev }]}
        ariaLabel={localeString("nav.page-prev")}
      >
        <Icon
          name="tabler:arrow-left"
          class="inline-block pb-1 rtl:rotate-180"
        />
        {localeString("nav.page-prev")}
      </LinkButton>
      {page.currentPage} / {page.lastPage}
      <LinkButton
        disabled={!page.url.next}
        href={page.url.next as string}
        class:list={["ms-4 select-none", { "opacity-50": !page.url.next }]}
        ariaLabel={localeString("nav.page-next")}
      >
        {localeString("nav.page-next")}
        <Icon
          name="tabler:arrow-right"
          class="inline-block pb-1 rtl:rotate-180"
        />
      </LinkButton>
    </nav>
  )
}
