---
import { Icon } from "astro-icon/components";
import { SHARE_LINKS } from "@/constants";
import { getLangFromUrl, useTranslations } from "@/i18n/utils";
import LinkButton from "./LinkButton.astro";

const URL = Astro.url;
const locale = getLangFromUrl(URL);
const localeString = useTranslations(locale);
---

{
  SHARE_LINKS.length > 0 && (
    <div class="flex flex-col flex-none gap-1 justify-center items-center md:items-start">
      <span class="italic">{localeString("share.this-post")}:</span>
      <div class="text-center">
        {SHARE_LINKS.map((social) => {
          const linkText =
            social.linkTitle === "on"
              ? localeString("share.this-post-on", { social: social.name })
              : localeString("share.this-post-via", { social: social.name });
          return (
            <LinkButton
              href={social.href + URL}
              class="p-2 scale-90 sm:p-1 hover:rotate-6"
              title={linkText}
            >
              <Icon
                name={social.iconName}
                class="inline-block opacity-90 scale-125 stroke-current stroke-2 sm:scale-110 size-6 fill-transparent group-hover:fill-transparent"
              />
              <span class="sr-only">{linkText}</span>
            </LinkButton>
          );
        })}
      </div>
    </div>
  )
}
