---
import { Icon } from "astro-icon/components";
import { SOCIALS } from "@/constants";
import { getLangFromUrl, useTranslations } from "@/i18n/utils";
import LinkButton from "./LinkButton.astro";

export interface Props {
  centered?: boolean;
}

const { centered = false } = Astro.props;
const locale = getLangFromUrl(Astro.url);
const localeString = useTranslations(locale);
---

<div class:list={["flex-wrap justify-center gap-1", { flex: centered }]}>
  {
    SOCIALS.map((social) => {
      const linkText =
        social.linkTitle === "on"
          ? localeString("social.find-me-on", { social: social.name })
          : localeString("social.contact-me-via", { social: social.name });
      return (
        <LinkButton
          href={social.href}
          class="p-2 sm:p-1 hover:rotate-6"
          title={linkText}
        >
          <Icon
            name={social.iconName}
            class="inline-block opacity-90 scale-125 stroke-current stroke-2 sm:scale-110 size-6 fill-transparent group-hover:fill-transparent"
          />
          <span class="sr-only">{linkText}</span>
        </LinkButton>
      );
    })
  }
</div>
