---
import { getRelativeLocaleUrl } from "astro:i18n";
import { Icon } from "astro-icon/components";
import { getLangFromUrl } from "@/i18n/utils";

export interface Props {
  tag: string;
  tagName: string;
  size?: "sm" | "lg";
}

const { tag, tagName, size = "lg" } = Astro.props;
const locale = getLangFromUrl(Astro.url);
---

<li>
  <a
    href={getRelativeLocaleUrl(locale, `/tags/${tag}/`)}
    class:list={[
      "flex items-center gap-0.5",
      "border-b-2 border-dashed border-foreground",
      "hover:-mt-0.5 hover:border-accent hover:text-accent",
      "focus-visible:border-none focus-visible:text-accent",
      { "text-sm": size === "sm" },
      { "text-lg": size === "lg" },
    ]}
  >
    <Icon
      name="tabler:hash"
      class:list={[
        "opacity-80",
        { "size-4": size === "sm" },
        { "size-5": size === "lg" },
      ]}
    />
    {tagName}
  </a>
</li>
