---
import { getCollection } from "astro:content";
import type { GetStaticPaths } from "astro";
import Footer from "@/components/Footer.astro";
import Header from "@/components/Header.astro";
import Tag from "@/components/Tag.astro";
import { SITE } from "@/config";
import { useTranslations } from "@/i18n/utils";
import Layout from "@/layouts/Layout.astro";
import Main from "@/layouts/Main.astro";
import getUniqueTags from "@/utils/getUniqueTags";

export const getStaticPaths = (async () => {
  return Object.keys(SITE.locales).map((lang) => ({
    params: { locale: lang as keyof typeof SITE.locales },
  }));
}) satisfies GetStaticPaths;

const { locale } = Astro.params;

const localeString = useTranslations(locale);

const posts = await getCollection("blog", ({ data }) => data.locale === locale);

const tags = getUniqueTags(posts);
---

<Layout title={`${localeString("nav.tags")} | ${localeString("site.title")}`}>
  <Header />
  <Main
    pageTitle={localeString("nav.tags")}
    pageDesc={localeString("tags.description")}
  >
    <ul>
      {tags.map(({ tag, tagName }) => <Tag {tag} {tagName} size="lg" />)}
    </ul>
  </Main>
  <Footer />
</Layout>
